.modal.mod-settings .vertical-tab-header {
	flex: none;
	width: 215px;
	padding: unset;
	border-right: 1px solid var(--background-modifier-border);
	padding-top: 40px;

	&::-webkit-scrollbar-thumb {
		border-right: unset;
	}
}

.vertical-tab-header-group {
	padding: unset;
}

.vertical-tab-header-group-title {
	padding: 0 var(--size-4-3);
	font-size: var(--font-ui-small);
	color: var(--text-header);
}

.vertical-tab-header-group-items {
	gap: var(--size-2-1);
	padding: var(--size-4-1) var(--size-4-1) var(--size-4-3);
}

.vertical-tab-nav-item {
	padding-left: var(--size-4-5);
}

.vertical-tab-nav-item.settings-search-input {
	padding: unset;
}

.horizontal-tab-nav-item,
.vertical-tab-nav-item {
	color: var(--text-muted);
}

body:not(.is-phone) .horizontal-tab-nav-item.is-active,
body:not(.is-phone) .vertical-tab-nav-item.is-active {
	--background-modifier-hover: var(--interactive-accent);
	--icon-color: var(--text-on-accent);

	font-weight: var(--font-bold);
	color: var(--text-normal);
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-decoration-color: var(--interactive-accent);
	background-color: unset;
}

:is(.horizontal-tab-content, .vertical-tab-content) {
	padding: var(--size-4-8) var(--size-4-8) var(--size-4-4) var(--size-4-6);
}

.setting-item {
	border-top: unset;
}

.setting-item-heading {
	justify-content: center;
	font-family: var(--font-header);
	border-bottom: 1px solid var(--background-modifier-border);
	padding: 0.4em 0;

	.setting-item-name {
		font-size: var(--font-ui-large);
	}
}

textarea:active,
input.metadata-input-text:active,
input[type="date"]:active,
input[type="datetime-local"]:active,
input[type="text"]:active,
input[type="search"]:active,
input[type="email"]:active,
input[type="password"]:active,
input[type="number"]:active,
textarea:focus,
input.metadata-input-text:focus,
input[type="date"]:focus,
input[type="datetime-local"]:focus,
input[type="text"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
textarea:focus-visible,
input.metadata-input-text:focus-visible,
input[type="date"]:focus-visible,
input[type="datetime-local"]:focus-visible,
input[type="text"]:focus-visible,
input[type="search"]:focus-visible,
input[type="email"]:focus-visible,
input[type="password"]:focus-visible,
input[type="number"]:focus-visible,
select.dropdown:hover {
	border: 1px solid var(--interactive-accent);
	box-shadow: unset;
}

select.dropdown {
	background-color: unset;
	border: 1px solid var(--background-modifier-border);
	border-radius: var(--radius-s);
	box-shadow: unset;

	&:hover {
		background-color: unset;
	}
}

input[type="range"]::-webkit-slider-thumb {
	background-color: var(--interactive-accent);
}

button.mod-destructive {
	--text-color: var(--text-on-accent);
	--interactive-normal: var(--text-error);
}

.is-phone .modal.mod-settings .modal-title::after,
.modal.mod-settings .vertical-tab-header::after {
	position: absolute;
	top: 0;
	z-index: var(--layer-sidedock);
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 24px;
	padding: var(--size-2-3) 0 var(--size-4-1) var(--size-4-1);
	margin-right: 12px;
	font-size: var(--font-smaller);
	font-weight: 700;
	color: var(--text-normal);
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-decoration-color: var(--interactive-accent);
	content: "Bursztyn 1.0.0";
	background-color: var(--background-primary);
}

/* Shadow overlay for the top of scrollable content */
.modal.mod-settings {
	.vertical-tab-header::before {
		position: absolute;
		top: 34px;
		left: 0;
		width: 200px;
		height: 10px;
		content: "";
		background-image:
			linear-gradient(
				to top,
				rgba(var(--background-primary-rgb), 0%) 0%,
				rgba(var(--background-primary-rgb), 100%) 100%
			);
	}

	.vertical-tab-content-container::before {
		position: absolute;
		top: 0;
		width: -webkit-fill-available;
		width: fill-available;
		height: 10px;
		content: "";
		background-image:
			linear-gradient(
				to top,
				rgba(var(--background-primary-rgb), 0%) 0%,
				rgba(var(--background-primary-rgb), 100%) 100%
			);
	}
}