/*
	https://leonardocolor.io/theme.html?name=Untitled&config=%7B%22baseScale%22%3A%22Mono%22%2C%22colorScales%22%3A%5B%7B%22name%22%3A%22Mono%22%2C%22colorKeys%22%3A%5B%22%23111111%22%5D%2C%22colorspace%22%3A%22CAM02p%22%2C%22ratios%22%3A%5B%2256.52%22%5D%2C%22smooth%22%3Afalse%7D%2C%7B%22name%22%3A%22Red%22%2C%22colorKeys%22%3A%5B%22%23ca1c1c%22%5D%2C%22colorspace%22%3A%22CAM02p%22%2C%22ratios%22%3A%5B%2256.52%22%5D%2C%22smooth%22%3Afalse%7D%2C%7B%22name%22%3A%22Orange%22%2C%22colorKeys%22%3A%5B%22%23da6110%22%5D%2C%22colorspace%22%3A%22CAM02p%22%2C%22ratios%22%3A%5B%2256.52%22%5D%2C%22smooth%22%3Afalse%7D%2C%7B%22name%22%3A%22Yellow%22%2C%22colorKeys%22%3A%5B%22%23fee22a%22%5D%2C%22colorspace%22%3A%22OKLCH%22%2C%22ratios%22%3A%5B%2256.52%22%5D%2C%22smooth%22%3Afalse%7D%2C%7B%22name%22%3A%22Green%22%2C%22colorKeys%22%3A%5B%22%2353b21f%22%5D%2C%22colorspace%22%3A%22CAM02p%22%2C%22ratios%22%3A%5B%2256.52%22%5D%2C%22smooth%22%3Afalse%7D%2C%7B%22name%22%3A%22Cyan%22%2C%22colorKeys%22%3A%5B%22%2300fbff%22%5D%2C%22colorspace%22%3A%22CAM02p%22%2C%22ratios%22%3A%5B%2256.52%22%5D%2C%22smooth%22%3Afalse%7D%2C%7B%22name%22%3A%22Blue%22%2C%22colorKeys%22%3A%5B%22%23135ed8%22%5D%2C%22colorspace%22%3A%22CAM02p%22%2C%22ratios%22%3A%5B%2256.52%22%5D%2C%22smooth%22%3Afalse%7D%2C%7B%22name%22%3A%22Purple%22%2C%22colorKeys%22%3A%5B%22%237916ca%22%5D%2C%22colorspace%22%3A%22CAM02p%22%2C%22ratios%22%3A%5B%2256.52%22%5D%2C%22smooth%22%3Afalse%7D%2C%7B%22name%22%3A%22Pink%22%2C%22colorKeys%22%3A%5B%22%23b11b63%22%5D%2C%22colorspace%22%3A%22CAM02p%22%2C%22ratios%22%3A%5B%2256.52%22%5D%2C%22smooth%22%3Afalse%7D%5D%2C%22lightness%22%3A4%2C%22contrast%22%3A1%2C%22saturation%22%3A100%2C%22formula%22%3A%22wcag3%22%7D

	4% 100% 100%
*/
body {
	--font-interface-theme: "Radio Canada Big", sans-serif;
	--font-text-theme: "Bitter", serif;
	--font-header: "Bitter", serif;
	--font-monospace-theme: "Geist Mono", monospace;

	--background-modifier-border-hover: var(--background-modifier-border);
	--modal-border-color: var(--background-modifier-border);

	--vault-profile-color: var(--interactive-accent-mono);
	--vault-profile-font-size: var(--font-ui-small);
	--vault-profile-font-weight: var(--font-medium);

	--inline-title-margin-bottom: var(--size-4-6);
	--header-height: 36px;

	--blockquote-border-thickness: 3px;

	--metadata-padding: 0 0 var(--size-4-2);
	--metadata-border-width: 1px;

	--file-margins: var(--size-4-4) var(--size-4-6) var(--size-4-4);
	--file-line-width: 800px;

	--icon-color-focused: var(--interactive-accent-mono);

	--toggle-radius: var(--radius-s);
	--toggle-thumb-radius: var(--radius-s);
	--toggle-thumb-color: var(--background-primary);

	--bold-color: var(--color-blue);
	--italic-color: var(--color-green);

	/* Custom */
	--bold-italic-color: var(--color-red);

	--custom-vault-banner-icon-url: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAABg0lEQVR4nO3YzyvDcRzH8dfN3Un+gbWShJZEkiQtSRJaLCX8EVYODlKUww7IDr4H5SJyU3Pxa34Nm18HhzH7pty/4dte8ge8D+y72bs+r3rc38/rGzAzMzMz82q2haBtIWtb4F/k1pG3LTzmLITxH8vE8PIcA72QWcNMyQOeVkBPLWOupAEPUdBr91EspldRWZKA1BLotbfdBvJ+knyYKtjn1aj7vtcaEQMuF0Av2Ts/x0946iMZcsWAxBzolexWPXk3XhSQdjALFupkvoKv2wHybqxoIO0rOUTehssepDE9Qg0gB4SoAcSA1DA1gBwwSA0gBtwMUAOIAdf91AByQB81gBhw1UsNIAYke6gB5IAgNYC0/GU3NYAc0EUNIAZcdFIDiAHnHdQAckA7NYAYcNZGDSAGnLZQA8gBzdQAYkCiiRpADDgJUAPIAY3UAGLAcT01gBxQRw0gzdn3u/mjWpYzJ+6XX4u5jeqIE/e5+cMaliMn7nOzm1XTYoCZmZmZGX65b1fjrzHebGEuAAAAAElFTkSuQmCC");

	--scroll-bar-size: 12px;
	--table-line-height: var(--line-height-normal);

	--font-smallest: 0.8em;
	--font-smaller: 0.875em;
	--font-small: 0.933em;

	--font-ui-smaller: 0.8rem;
	--font-ui-small: 0.85rem;
	--font-ui-medium: 1rem;
	--font-ui-large: 1.1rem;

	--nav-item-background-active: unset;
	--nav-item-weight-active: var(--font-bold);

	--modal-radius: var(--radius-m);

	--h1-color: var(--text-header);
	--h2-color: var(--text-header);
	--h3-color: var(--text-header);
	--h4-color: var(--text-header);
	--h5-color: var(--text-header);
	--h6-color: var(--text-header);

	--h1-font: var(--font-header);
	--h2-font: var(--font-header);
	--h3-font: var(--font-header);
	--h4-font: var(--font-header);
	--h5-font: var(--font-header);
	--h6-font: var(--font-header);

	--text-highlight-bg: hsla(var(--interactive-accent-hsl), 0.2);
}

.theme-light {
	--text-normal: #353835;
	--text-muted: #5C5F5C;
	--text-faint: #949994;
	--text-header: #383A36;

	--text-on-accent: #ECECEA;
	--inline-title-color: var(--text-header);

	--background-primary: #ECECEA;
	--background-primary-alt: #ECECEA;
	--background-secondary: #ECECEA;
	--background-secondary-alt: #ECECEA;
	--background-modifier-border: #BBB;

	--interactive-accent-mono: #181917;

	--background-modifier-form-field: #ECECEA;

	--background-primary-rgb: 236, 236, 234;

	--color-red-rgb: 228, 42, 25;
	--color-orange-rgb: 247, 116, 9;
	--color-yellow-rgb: 236, 186, 20;
	--color-green-rgb: 61, 168, 11;
	--color-cyan-rgb: 10, 181, 184;
	--color-blue-rgb: 16, 135, 233;
	--color-purple-rgb: 152, 62, 226;
	--color-pink-rgb: 247, 50, 148;

	--color-red: #E42A19;
	--color-orange: #F77409;
	--color-yellow: #ECBA14;
	--color-green: #3DA80B;
	--color-cyan: #0AB5B8;
	--color-blue: #1087E9;
	--color-purple: #983EE2;
	--color-pink: #F73294;
}

.theme-dark {
	--text-normal: #DDDDDD;
	--text-muted: #bbbbbb;
	--text-faint: #757575;
	--text-header: #DDDDDD;

	--text-on-accent: #141313;
	--inline-title-color: var(--text-header);

	--background-primary: #141313;
	--background-primary-alt: #141313;
	--background-secondary: #141313;
	--background-secondary-alt: #141313;
	--background-modifier-border: #383636;

	--interactive-accent-mono: #EEE;

	--background-modifier-form-field: #141313;

	--background-primary-rgb: 20, 19, 19;

	--color-red-rgb: 245, 50, 50;
	--color-orange-rgb: 255, 123, 0;
	--color-yellow-rgb: 226, 180, 30;
	--color-green-rgb: 45, 189, 50;
	--color-cyan-rgb: 26, 199, 202;
	--color-blue-rgb: 69, 159, 243;
	--color-purple-rgb: 193, 97, 248;
	--color-pink-rgb: 255, 79, 146;
	--color-grey-rgb: 177, 177, 177;

	--color-red: #F53232;
	--color-orange: #FF7B00;
	--color-yellow: #E2B41E;
	--color-green: #2DBD32;
	--color-cyan: #1AC7CA;
	--color-blue: #459FF3;
	--color-purple: #C161F8;
	--color-pink: #FF4F92;
	--color-grey: #B1B1B1;
}